<!DOCTYPE html>
<html>
<head>
 <head>

  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Welcome to E-Assignmento</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../assets/vendor/modal-video/css/modal-video.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- =======================================================
  * Template Name: E-Assignmento - v2.2.1
  * Template URL: https://bootstrapmade.com/E-Assignmento-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="index.html"><span>E-</span>Assignmento</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li><a href="#about-us">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#screenshots">Gallery</a></li>
         <!--  <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li> -->
          <li class="menu-has-children"><a href="">Special Links</a>
            <ul>
              <li><a href="#">Find Your College Metarial</a></li>
             <!--  <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li> -->
            </ul>
          </li>
          <li><a href="#blog">New Posts</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->
  <!-- FORM SECTION START -->
  <h2 class="text-center">Upload New Assignment</h2>
  <br>


 <!-- code for alert starts -->
<% if(message!="") {
  %>
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     <strong></strong><%= message %>
  </div>

<%}%>

<!-- code for elert ends -->


  <br>
<form class="form-horizontal"  method="POST" action="submit_assignment" enctype="multipart/form-data">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label col-sm-4">Your Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="name" value="">
      </div>
    </div>


     <div class="form-group">
      <label class="control-label col-sm-4">Your Highest Digree</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="degree" value="">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label col-sm-4">Your Email ID</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="email"value="">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4">Your Mobile</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="mobile" value="">
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label col-sm-2">Your Address</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" rows="2" name="address" value=""></textarea>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Subject</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="ie. English Math etc" name="subject">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Chapter Name</label>
      <div class="col-sm-8">
        <input type="text" class=" form-control" placeholder="as given in book" name="chapter">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Topic Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="topic">
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">No Of Questions</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="number_of_ques">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Yutube Channel Name</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" name="channel">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Link Of playlist</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" name="link_of_playlist">
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Drive link</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" name="drive_link">
      </div>
    </div>
  </div>


  <!-- <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Upload Assignment</label>
    <div style="margin:auto;">
 <input type="file" name="file">
</div>
    </div>
  </div> -->


 
  <div   style="margin: auto;">

   <input type="submit" value="submit" class="btn btn-primary">
  </div>
  </div>
</form>
  <!-- FORM SECTION ENDS -->



  <!-- ======= Footer ======= -->
  <footer class="footer" style="margin-top: 50px">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">E-Assignmento</a>
            <p>Hopefully ,it will come with a new edge in education industry.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Quick Links</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="/contribute">Contribute</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <!-- <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div> -->

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights E-Assignmento. All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=E-Assignmento
        -->
         <!--  Designed by <a href="https://bootstrapmade.com/">E-</a> -->
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  </body>
  </html>